<!--Main Navigation-->
<header class="header-bar">
    <!-- Navbar -->
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light">
                <h4 class="font-weight-normal">
                    <span style="color: black">Interview Smasher</span></h4>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 5%;">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item" routerLinkActive="active"> <a class="nav-link" routerLink="/user-home">Home
                                <span class="sr-only"></span></a> </li>
                        <li class="nav-item"> <a class="nav-link" routerLink="/subscription">Programs</a> </li>
                        <li class="nav-item"> <a class="nav-link" routerLink="/subscription">Concepts</a> </li>
                        <li class="nav-item"> <a class="nav-link" routerLink="/contact-us">Cloud</a> </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>