.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: .5rem 1rem;
}

.nav {
    width: 100%;
    padding: 0 !important;
}

.navbar-brand {
    position: absolute;
    z-index: 999;
    bottom: 4px;
    top: -15px;
  }

  .navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: white;
    border: 1px solid white;
    border-radius: .25rem;
  }

  .navbar-nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  nav .navbar-nav .nav-item .nav-link:hover {
    color: black;
    position: relative;
  }

  nav .navbar-nav .nav-item .nav-link {
    color: white;
    font-size: 17px;
    font-weight: 500;
  }

  header{
    background-color: #A020F0;
    padding: 2%;
  }

  li{
    margin-left: 15%;
  }

  